li{
  color: blue;  
  margin: 5px;
}

li:first-child{
    font-weight: bold;
    color: red;
}

li:last-child{
    font-style: italic;
}

li:nth-child(odd){
    background-color: aqua;
    
}

li:hover{
    background-color: yellow;
    cursor: pointer;
}

p{font-size: 20px;}

p.highlight::before{
    content: "🔥 ";
   color: orange;
   font-size: 12px;
}

p.highlight::after{
    content: "! 🌋";
    font-size: 12px;
}

/* Dynamically style the pseudo-element */

blockquote{
    font-size: 1.5em;
    font-style: italic;
    margin: 20px 0;
    padding: 62px 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    position: relative;
}

blockquote::before{
    content: "＂";
    color: #ccc;
    font-size: 2em;
    position: absolute;
    top: -10px;
    left: 10px;
    margin-top: 10px;
}

blockquote::after{
    content: "＂";
        color: #ccc;
        font-size: 2em;
        position: absolute;
        bottom: -42px;
        right: 10px;
        margin-bottom: 15px;
}